/*全ページ共通*/

body{
    background-color: #000000;
    margin: 0;
    color: white;
    font-family:'ＭＳ 明朝';
    padding-bottom: 30px;
    padding: 10px;
    padding-right: 10px;
  }
  
  /* ヘッダーの装飾*/
  .header{
    color: rgb(158, 255, 3);
    background-color: #635e5e;
  }

  h1{
    font-weight: bold;
    font-family: 'DotGothic16', sans-serif;
  }
  .navi {
      width: 100%;
      height: 70px;
      background-color: rgb(26, 26, 26);
      padding: 5px;
      box-sizing:border-box;
      font-family: sans-serif;
  }
    ul {
      display: flex;
    }
    li {
      list-style: none;
    }
    a {
      display: block;
      text-decoration: none;
      color: white;
      margin-right: 35px;
    }
    h2{
      text-align: center;
      font-weight: bold;
      font-family: sans-serif;
    }
    

  /*共通css*/



h3{
  text-align: center;
}
table{
    margin: auto;
    background-color: rgb(26, 26, 26);
    color:white;
    width: 80%;
    border-collapse: collapse;
    border:0;
}


 
th{
    padding: 10px;
    border:0;
    border-bottom:4px solid black;

}

td {
  text-align: center;
  border:0;
  border-bottom:3px solid black;
  padding:10px;
}

form{
  text-align: center;

}
input{
  text-align: center;
}

